@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

body {
  background-color: var(--color_background);
  margin: 0 2rem;
}

:root{
  --color_background: #4a3725;
  --color_primary: #dae921;
  --color_secondary: #778f2c;
}